*{
    margin:0;
    padding:0;
    background-color:black;
    color:white;
}
ol{
    color:white;
    padding:10px;
    text-align: center;
    background-color: black;
}
.myText{
    color:white;
    font-size:20px;
    background-color:black;
}
fieldset {
    border: 2px solid #000; 
    padding: 1px;
    display:inline-block; 
    color:aqua;
    background-color:black; 
  }
  legend {
    font-weight: bold;
    color: blue; 
  }
  h1,h2{
    color:blueviolet;
  }
  .task{
    margin-bottom: 10px;
  }
